{% extends "layout.html" %}
{% block content %}
<div class="default-container d-flex">
    
    <div class="product-section flex-grow-1 p-4">
        <form method="POST" novalidate autocomplete="off">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    <!-- Small image -->
                    <img src="{{ url_for('static', filename='img/register_product_symbol.jpg') }}" alt="Register product" style="width: 50px; height: auto; margin-right: 7px;">
                    <!-- Text next to the image -->
                    <span>Register your product in the system</span>
                </legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.productID.label(class="form-control-label") }}
                            {% if form.productID.errors %}
                                {{ form.productID(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.productID.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.productID(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.manufacturer.label(class="form-control-label") }}
                            {% if form.manufacturer.errors %}
                                {{ form.manufacturer(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.manufacturer.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.manufacturer(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.model.label(class="form-control-label") }}
                            {% if form.model.errors %}
                                {{ form.model(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.model.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.model(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.productionDate.label(class="form-control-label") }}
                            {% if form.productionDate.errors %}
                                {{ form.productionDate(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.productionDate.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.productionDate(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.material.label(class="form-control-label") }}
                            {% if form.material.errors %}
                                {{ form.material(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.material.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.material(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.color.label(class="form-control-label") }}
                            {% if form.color.errors %}
                                {{ form.color(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.color.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.color(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Add more field pairs here -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.serialNumber.label(class="form-control-label") }}
                            {% if form.serialNumber.errors %}
                                {{ form.serialNumber(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.serialNumber.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.serialNumber(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.recyclability.label(class="form-control-label") }}
                            {% if form.recyclability.errors %}
                                {{ form.recyclability(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.recyclability.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.recyclability(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.weight.label(class="form-control-label") }}
                            {% if form.weight.errors %}
                                {{ form.weight(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.weight.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.weight(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.size.label(class="form-control-label") }}
                            {% if form.size.errors %}
                                {{ form.size(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.size.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.size(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <!-- Submit button -->
            <div class="form-group">
                {{ form.submit(class="btn", style="background-color: #4f5c53; color: white; border-color: #4f5c53;") }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}
