{% extends "layout.html" %}
{% block content %}
<div class="container text-center">
    <form class="search-form d-flex" role="search" action="/search" method="POST">
        <img src="{{ url_for('static', filename='img/search_symbol.png') }}" alt="Icon" style="height: 45px; width: 45px; margin-right: 10px;">
        <select class="search-select form-control" name="characteristic" style="margin-right: 20px; height: 45px; width: 280px; font-size: 14px;">
            <option selected disabled>Choose characteristic</option>
            <option value="manufacturer">Manufacturer</option>
            <option value="model">Model</option>
            <option value="material">Material</option>
            <option value="color">Color</option>
            <option value="recyclability">Recyclability</option>
            <option value="productionDate">Production date</option>
            <option value="serialNumber">Serial number</option>
            <option value="height">Height</option>
            <option value="weight">Weight</option>
        </select>
        <input class="search-input form-control" name="search" type="search" placeholder="Type the word you want to search" aria-label="Search" style="margin-right: 10px;">
        <button class="search-button btn" type="submit" style="background-color: #4f5c53; color: white; border-color: #4f5c53;">Search</button>
    </form>

    {% if warning_message %}
        <div class="alert alert-warning" style="margin-top: 20px;">
            <strong>Warning:</strong> {{ warning_message }}
        </div>
    {% endif %}

    {% if items_search is not none %}
    <div style="margin-top: 30px; margin-bottom: 20px;">
        <h4 style="color: black; text-align: left;">Matches found with '{{ search_query }}'</h4>
    </div>

    <div class="search-container">
        {% if items_search %}
            {% for item in items_search %}
            <div class="search-content">
                <h2 style="margin-bottom: 20px;"><em>{{ item['manufacturer'] }} {{ item['model'] }}</em></h2>
                <h6>
                    <em>Serial number: </em>{{ item['serialNumber'] }}
                    <span class="separator">|</span>
                    <em>Production date: </em>{{ item['productionDate'] }}
                    <span class="separator">|</span>
                    <em>Material: </em>{{ item['material'] }}
                </h6>
                <h6>
                    <em>Size (cm): </em>{{ item['size'] }}
                    <span class="separator">|</span>
                    <em>Weight (kg): </em>{{ item['weight'] }}
                </h6>
                <h6>
                    <img src="{{ url_for('static', filename='img/colours_symbol.png') }}" alt="Icon" class="info_product_image">: {{ item['color'] }}
                    <span class="separator">|</span>
                    <img src="{{ url_for('static', filename='img/recyclability_symbol.png') }}" alt="Icon" class="info_product_image">: {{ item['recyclability'] }}
                </h6>
            </div>
            {% endfor %}
        {% else %}
            <h4 style="color: #c85450;">No matches found.</h4>
        {% endif %}
    </div>
    {% endif %}

</div>
{% endblock content %}